<html lang="en">
        <head>
          <title>Car Pe Loan</title>
          <link rel="stylesheet" href="../static/style.css" />
        </head>
        
        <body>
      
          <form action="/success">
            <label for="regNo">Enter Registration Number:</label>
            <input title="rNo" type="text" name="regNo" id="regNo" oninput="this.value = this.value.toUpperCase()" required/>
            
            <label for="kms">Enter Kilometers Run:</label>  
            <input title="kms" type="number" name="kms" id="kms" min="0" required/>
            <br>
            <br>
            <button type="submit">Submit</button>        
        </form>
        </body>     
</html>
      